/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

.AnchorPane{
    -fx-background-image:url("VitalPicture.jpg");
    -fx-background-repeat:no-repeat;
    -fx-background-position:center center;
    /*-fx-background-size:500 500;*/
}
